* {
  box-sizing: border-box;
}

// .general {
//   display: flex;
//   justify-content: center;
//   margin-top: 5%;
// }

// .education {
//   display: flex;
//   justify-content: center;
//   margin-top: 5%;
// }

// .education-card {
//   display: flex;
//   justify-content: center;
//   margin-top: 5%;

//   &-top-fields {
//     margin-bottom: 3%;
//   }
// }

// .education-header {
//   display: flex;
//   justify-content: center;
//   margin-top: 5%;
// }

.container {
  display: flex;
  justify-content: center;
}
